# Config
configs/config.ts

# Dependency directory
node_modules

# Contracts
contracts/**/*.code
contracts/**/*.conf.json

# Tests contracts
common/contracts/**/*.code
common/contracts/**/*.conf.json

# Yarn
*.log

# TonOS CLI config in root directory
*cli.conf.json